body {
    font-style: italic;
    animation-direction: alternate;
    padding: 0px;
    border-style: inset;
    scroll-behaviour: smooth;
    text-align: center;
    background-image: url('CaptureIndia.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center !important;
    margin-right: 16%;
}

h1 {
    font-size: 50px;
    color: #0B1F4B;
    text-shadow: 1px 2px 3px white;
}

h3 {
    font-size: 40px;
    color: #0B1F4B;
    font-weight: bold;
    text-shadow: 1px 2px 3px white;
    text-align: center;
}

.color {
    color: black;
    font-weight: bold;
    text-shadow: 
      -1px -1px 0px white
      1px -1px 0px white
      -1px 1px 0px white
      1px 1px 0px white;
}


.sidebar {
    display: block;
    color: white;
    text-decoration: none;
    padding: 20px;
    background: #444;
    float: left;
    height: 100vh;
    width: 20%;
    background-image: url('https://5.imimg.com/data5/SELLER/Default/2023/6/320145536/UJ/BL/QH/810622/indian-national-flag-500x500.webp');
    bacground-position: left;
    background-size: 140% 100%;
    background-repeat: no-repeat;
}



